<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Detalhes</title>
  </head>
  <body id="body01">
    <%- include("./partials/header.ejs") %>
    <main>
      <section id="flex-1">
          <article class="card">
            <p><%=pokemon.numero%></p> 
            <h2><%= pokemon.nome%></h2>
            <img src="<%=pokemon.imagem %>" alt="">
            <h4><p id="descricao"><%=pokemon.descricao%></p></h4>
            <div class="detalhes">
              <h4 class="item"><span class="cor">Tipo: </span><%=pokemon.tipo%></h4> 
              <h4 class="item"><span class="cor">Habilidade: </span><%=pokemon.habilidade%></h4>
              <h4 class="item"><span class="cor">Categoria: </span><%=pokemon.categoria%></h4>
              <h4 class="item"><span class="cor">Peso: </span><%=pokemon.peso%></h4>
              </div>
              </article>
      </section>
     
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
