<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body>
    <%- include("./partials/header.ejs") %>  
    <main>
      <section id="flex">
        <% pokedex.forEach((poquemon) => {%>
          <div class="card">
            <p><%=poquemon.numero%></p> 
            <h2><%= poquemon.nome%></h2>
            <img src="<%=poquemon.imagem %>" alt="">
            <!-- <p id="descricao"><%=poquemon.descricao%></p> -->
            <div class="detalhes">
              <h4 class="item1">Tipo: <%=poquemon.tipo%></h4>
              <h4 class="item2">Altura: <%=poquemon.altura%></h4>
              <h4 class="item3">Peso: <%=poquemon.peso%></h4>
              <h4 class="item4">Categoria: <%=poquemon.categoria%></h4>
              <h4 class="item5">Habilidade: <%=poquemon.habilidade%></h4>
            </div>
          </div>
       <% }); %> 
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
