<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Home</title>
  </head>
  <body id="body01">
    <%- include("./partials/header.ejs") %>  
    <main>
      <section id="flex-1">
        <% pokedex.forEach((poquemon) => {%>
          <a href="/detalhes/<%= poquemon.id %> ">
          <article class="card-1">
            <h2><%= poquemon.nome%></h2>
            <img src="<%=poquemon.imagem %>" alt="">
          </article>
        </a>
       <% }); %> 
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
